
    <header>
        <img src="../logo_dark.png" width =40%>
        </div>
        <nav> 
            <ul> 
                <li> <a href ="/users"> Users</a></li>
                <li> <a href ="/schedules"> Schedules</a></li>
                <li> <a href ="/users/add"> New User</a></li>

                        
            </ul>
           
        </nav>
        
    </header>