
    <header>
        <img src="/logo_dark.png" width =40%>
        <nav> 
            <div>
                <a href ="/users"> Users</a>
                <a href ="/schedules"> Schedules</a>
                <a href ="/users/add"> New User</a>

                        
            </div>
                
           
        </nav>
        
    </header>