doctype html 
html(lang="en")
 head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
    title Mr Coffe Website, Express and Pug
    style
     include ../views/public/style.css
    header
         nav
            div
                a(href ="/users") Users
                a(href ="/schedules") Schedules
                a(href ="/users/add") New User
                a(href ="/schedules/add") Add Schedule


 body
   block content 
   br
   hr
   footer 
       div 
         img(src="logo_dark.png")
       div 
         p(align =center) Copyright RajG &copy;2021