extends layout  

block content
    <main>
     form(method="POST" action="/schedules")
      div
       label(for="user_id") User_Id:&emsp;&nbsp;&nbsp;&nbsp;
       input(id="username" type="text" name="user_id" required)
      div
        label(for="Day") Day &emsp;&emsp;&emsp;&nbsp;
        input(id="day" type="text" name="day" required)
      div
        label(for="starttime") Start Time       :&nbsp;&nbsp;
        input(id="start_at" type="text" name="start_at" required)
      div
        label(for="endtime") End Time  :&nbsp;&nbsp;&nbsp;
        input(id="end_at" type="text" name="end_at" required)
      div  &emsp;&emsp;&emsp;&emsp;&emsp;
       button(type="submit") Add Schedule
    
      
