<!DOCTYPE html>
<html lang ="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>"Mr.Coffee's schedule management app" </title>
   <link rel="stylesheet " href ="styles.css">
</head>
<body>
    <%- include('../partials/header') %>

  <main>

   <h1> Schedule Management App!</h1>
  </main>
        
   <%- include('../partials/footer') %>
</body>

</html> 